interfaces/web/generic-soap-client/src/test/resources/IMPACTSecureBorderRemover.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://impact-project.eu/iif/service" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:axd="http://org.apache.axis2/xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://impact-project.eu/iif/service">
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UTOverTransport">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false" />
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient" />
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impact-project.eu/iif/service">
            <xsd:simpleType name="pagesplitType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="true" />
                    <xsd:enumeration value="false" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="removeBorderRequestType">
                <xsd:sequence>
                    <xsd:element default="http://impact.dlsi.ua.es/images/borderRemoval/borderRemoval.tif" name="infile" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to input file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="true" name="pagesplit" type="tns:pagesplitType">
                        <xsd:annotation>
                            <xsd:documentation>Indicates if a page should be split or not (if an image represents two book pages)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="removeBorderRequest" type="tns:removeBorderRequestType" />
            <xsd:complexType name="removeBorderResponseType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="return" type="tns:removeBorderReturnType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="removeBorderReturnType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="result" type="tns:removeBorderResultType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="removeBorderResultType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="outfile1" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output image</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="outfile2" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to second output image if pagesplit was used</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="success" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Success/failure of process execution</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element name="returncode" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Returncode of the underlying command line application</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="time" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Execution time in milliseconds</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="log" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution log</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution message</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="removeBorderResponse" type="tns:removeBorderResponseType" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="removeBorderRequest">
        <wsdl:part name="removeBorderRequest" element="tns:removeBorderRequest" />
    </wsdl:message>
    <wsdl:message name="removeBorderResponse">
        <wsdl:part name="removeBorderResponse" element="tns:removeBorderResponse" />
    </wsdl:message>
    <wsdl:portType name="secureBorderRemovalPortType">
        <wsdl:operation name="removeBorder">
            <wsdl:documentation>Remove the border from an input image file. Optionally, double-pages can be split.</wsdl:documentation>
            <wsdl:input message="tns:removeBorderRequest" wsaw:Action="urn:removeBorder" />
            <wsdl:output message="tns:removeBorderResponse" wsaw:Action="//schemas.xmlsoap.org/wsdl/IMPACTBorderRemoval4ServicePortType/removeBorderResponse" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="secureBorderRemovalSoap11Binding" type="tns:secureBorderRemovalPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UTOverTransport" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeBorder">
            <soap:operation soapAction="urn:removeBorder" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="secureBorderRemovalSoap12Binding" type="tns:secureBorderRemovalPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UTOverTransport" />
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="removeBorder">
            <soap12:operation soapAction="urn:removeBorder" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="secureBorderRemovalHttpBinding" type="tns:secureBorderRemovalPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="removeBorder">
            <http:operation location="removeBorder" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="secureBorderRemoval">
        <wsdl:port name="secureBorderRemovalHttpsSoap11Endpoint" binding="tns:secureBorderRemovalSoap11Binding">
            <soap:address location="https://impact.dlsi.ua.es/services/secureBorderRemoval.secureBorderRemovalHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="secureBorderRemovalHttpsSoap12Endpoint" binding="tns:secureBorderRemovalSoap12Binding">
            <soap12:address location="https://impact.dlsi.ua.es/services/secureBorderRemoval.secureBorderRemovalHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="secureBorderRemovalHttpsEndpoint" binding="tns:secureBorderRemovalHttpBinding">
            <http:address location="https://impact.dlsi.ua.es/services/secureBorderRemoval.secureBorderRemovalHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>