interfaces/web/generic-soap-client/src/test/resources/IMPACTFineReader_wrapper0.3.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://iif.impact-project.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://iif.impact-project.eu/">
    <wsdl:documentation>
        IMPACT Fine Reader Service. This service provides the basic
        functionality of the Abbyy Fine Reader 10 text recogntion engine for
        applying OCR to an image file, using an external dictionary and returning
		results in PAGE XML format.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iif.impact-project.eu/">
            <xsd:simpleType name="recognitionLanguage">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian" />
                    <xsd:enumeration value="Czech" />
                    <xsd:enumeration value="Dutch" />
                    <xsd:enumeration value="English" />
                    <xsd:enumeration value="French" />
                    <xsd:enumeration value="German" />
                    <xsd:enumeration value="Polish" />
                    <xsd:enumeration value="Slovenian" />
                    <xsd:enumeration value="Spanish" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="RecognitionLanguages">
                <xsd:sequence>
                    <xsd:element default="Dutch" maxOccurs="unbounded" minOccurs="0" name="recognitionLanguage" type="tns:recognitionLanguage" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="outputFormatType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Text" />
                    <xsd:enumeration value="XML" />
                    <xsd:enumeration value="HTML" />
                    <xsd:enumeration value="RTF" />
                    <xsd:enumeration value="ALTO" />
                    <xsd:enumeration value="PAGEXML" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="inputTextType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Normal" />
                    <xsd:enumeration value="Typewriter" />
                    <xsd:enumeration value="Gothic" />
                    <xsd:enumeration value="ToBeDetected" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="externalDictionaryType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="bulgarian.dat" />
                    <xsd:enumeration value="dutch.dat" />
                    <xsd:enumeration value="german.dat" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ByUrlRequestType">
                <xsd:sequence>
                    <xsd:element default="Normal" minOccurs="0" name="inputTextType" type="tns:inputTextType" />
                    <xsd:element default="PAGEXML" minOccurs="0" name="outputFormat" type="tns:outputFormatType" />
                    <xsd:element minOccurs="0" name="languages" type="tns:RecognitionLanguages" />
                    <xsd:element default="http://kbdemo.dnsalias.org/testfiles/dpo_65_0008.tif" name="inputUrl" type="xsd:anyURI" />
                    <xsd:element default="dutch.dat" name="externalDictionary" type="tns:externalDictionaryType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlRequest" type="tns:ByUrlRequestType" />
            <xsd:complexType name="ByUrlResponseType">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean" />
                    <xsd:element name="returncode" type="xsd:int" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="toolProcessingTime" type="xsd:int" />
                    <xsd:element name="processingLog" type="xsd:string" />
                    <xsd:element name="processingUnit" type="xsd:string" />
                    <xsd:element minOccurs="0" name="outputUrl" type="xsd:anyURI" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlResponse" type="tns:ByUrlResponseType" />
            <xsd:complexType name="WrongArgumentFaultType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" name="argument" type="xsd:string" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WrongArgumentFault" type="tns:WrongArgumentFaultType" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ByUrlRequest">
        <wsdl:part name="part1" element="tns:ByUrlRequest" />
    </wsdl:message>
    <wsdl:message name="ByUrlResponse">
        <wsdl:part name="part1" element="tns:ByUrlResponse" />
    </wsdl:message>
    <wsdl:message name="WrongArgumentException">
        <wsdl:part name="fault" element="tns:WrongArgumentFault" />
    </wsdl:message>
    <wsdl:portType name="IMPACTFineReaderServicePortType">
        <wsdl:operation name="ocrImageFileByUrl">
            <wsdl:documentation>Apply text recognition to image file (sending/receiving data by URL)</wsdl:documentation>
            <wsdl:input message="tns:ByUrlRequest" wsaw:Action="ocrImageFileByUrl">
                <wsdl:documentation>inputTextType: Normal/Typewriter/Gothic/ToBeDetected; outputFormatType: Text/XML/HTML/RTF/ALTO/PAGEXML; inputUrl: URL reference to image file</wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="tns:ByUrlResponse" wsaw:Action="//schemas.xmlsoap.org/wsdl/IMPACTFineReaderServicePortType/ByUrlResponse">
                <wsdl:documentation>success: Success/failure of service execution; returncode: 0 in case of success, greater 0 indicates an error; message: Process result message; toolProcessingTime: Tool processing time in milliseconds; processingUnit: URI of the processing unit (identifier of machine and environment); processingLog: Complete processing log; outputUrl: URL reference to the result file (TXT or XML depending on input parameter outputFormat)</wsdl:documentation>
            </wsdl:output>
            <wsdl:fault message="tns:WrongArgumentException" name="WrongArgumentException" wsaw:Action="http://iif.impact-project.eu/IMPACTServicePortType/ocrImageFileByUrl/Fault/WrongArgumentException" />
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IMPACTFineReaderServiceSoap11Binding" type="tns:IMPACTFineReaderServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="ocrImageFileByUrl">
            <soap:operation soapAction="ocrImageFileByUrl" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WrongArgumentException">
                <soap:fault use="literal" name="WrongArgumentException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IMPACTFineReaderServiceSoap12Binding" type="tns:IMPACTFineReaderServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="ocrImageFileByUrl">
            <soap12:operation soapAction="ocrImageFileByUrl" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
            <wsdl:fault name="WrongArgumentException">
                <soap12:fault use="literal" name="WrongArgumentException" />
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IMPACTFineReaderServiceHttpBinding" type="tns:IMPACTFineReaderServicePortType">
        <http:binding verb="POST" />
        <wsdl:operation name="ocrImageFileByUrl">
            <http:operation location="ocrImageFileByUrl" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IMPACTFineReaderService">
        <wsdl:port name="IMPACTFineReaderServiceHttpsSoap11Endpoint" binding="tns:IMPACTFineReaderServiceSoap11Binding">
            <soap:address location="https://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="IMPACTFineReaderServiceHttpSoap11Endpoint" binding="tns:IMPACTFineReaderServiceSoap11Binding">
            <soap:address location="http://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="IMPACTFineReaderServiceHttpsSoap12Endpoint" binding="tns:IMPACTFineReaderServiceSoap12Binding">
            <soap12:address location="https://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="IMPACTFineReaderServiceHttpSoap12Endpoint" binding="tns:IMPACTFineReaderServiceSoap12Binding">
            <soap12:address location="http://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="IMPACTFineReaderServiceHttpEndpoint" binding="tns:IMPACTFineReaderServiceHttpBinding">
            <http:address location="http://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpEndpoint" />
        </wsdl:port>
        <wsdl:port name="IMPACTFineReaderServiceHttpsEndpoint" binding="tns:IMPACTFineReaderServiceHttpBinding">
            <http:address location="https://impact.dlsi.ua.es/services/IMPACTFineReaderService.IMPACTFineReaderServiceHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>