interfaces/web/generic-soap-client/src/test/resources/IMPACTFineReader_wrapper0.3.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axd="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://impact-project.eu/iif/tw/services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impact-project.eu/iif/tw/services">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impact-project.eu/iif/tw/services">
            <xsd:simpleType name="datType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="bulgarian.dat"/>
                    <xsd:enumeration value="cz_1800-1809ss.dat"/>
                    <xsd:enumeration value="cz_1800-1810.dat"/>
                    <xsd:enumeration value="cz_1810-1842.dat"/>
                    <xsd:enumeration value="cz_1843-1849.dat"/>
                    <xsd:enumeration value="cz_1850-1900.dat"/>
                    <xsd:enumeration value="de_16jh.cleaned.dat"/>
                    <xsd:enumeration value="de_17jh.cleaned.dat"/>
                    <xsd:enumeration value="de_18jh.cleaned.dat"/>
                    <xsd:enumeration value="de_19jh.cleaned.dat"/>
                    <xsd:enumeration value="dutch.dat"/>
                    <xsd:enumeration value="en_1580-1720.dat"/>
                    <xsd:enumeration value="en_1600-1850.cleaned.dat"/>
                    <xsd:enumeration value="en_1700-1800.cleaned.dat"/>
                    <xsd:enumeration value="en_1700-1800.noshort.dat"/>
                    <xsd:enumeration value="fr_IRLexicon.cleaned.dat"/>
                    <xsd:enumeration value="german.dat"/>
                    <xsd:enumeration value="latin.dat"/>
                    <xsd:enumeration value="latin.extended.dat"/>
                    <xsd:enumeration value="nl_dbnl.noshort.dat"/>
                    <xsd:enumeration value="pl_historicalPolish.dat"/>
                    <xsd:enumeration value="pl_modernPolish.dat"/>
                    <xsd:enumeration value="si_slovenian.noshort.dat"/>
                    <xsd:enumeration value="spanish.dat"/>
                    <xsd:enumeration value="spa_spanish.cleaned.dat"/>
                    <xsd:enumeration value="spa_spanish.noshort.dat"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="languageList">
                <xsd:sequence>
                    <xsd:element default="OldGerman" maxOccurs="unbounded" minOccurs="0" name="languageItem" type="tns:languageType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="languageType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian"/>
                    <xsd:enumeration value="Catalan"/>
                    <xsd:enumeration value="Croatian"/>
                    <xsd:enumeration value="Czech"/>
                    <xsd:enumeration value="Danish"/>
                    <xsd:enumeration value="Dutch"/>
                    <xsd:enumeration value="English"/>
                    <xsd:enumeration value="Estonian"/>
                    <xsd:enumeration value="Finnish"/>
                    <xsd:enumeration value="French"/>
                    <xsd:enumeration value="German"/>
                    <xsd:enumeration value="Greek"/>
                    <xsd:enumeration value="Hungarian"/>
                    <xsd:enumeration value="Italian"/>
                    <xsd:enumeration value="Latin"/>
                    <xsd:enumeration value="Latvian"/>
                    <xsd:enumeration value="Lithuanian"/>
                    <xsd:enumeration value="Norwegian"/>
                    <xsd:enumeration value="OldEnglish"/>
                    <xsd:enumeration value="OldFrench"/>
                    <xsd:enumeration value="OldGerman"/>
                    <xsd:enumeration value="OldItalian"/>
                    <xsd:enumeration value="OldSpanish"/>
                    <xsd:enumeration value="Polish"/>
                    <xsd:enumeration value="PortugueseStandard"/>
                    <xsd:enumeration value="Romanian"/>
                    <xsd:enumeration value="Russian"/>
                    <xsd:enumeration value="SerbianCyrillic"/>
                    <xsd:enumeration value="SerbianLatin"/>
                    <xsd:enumeration value="Slovak"/>
                    <xsd:enumeration value="Slovenian"/>
                    <xsd:enumeration value="Spanish"/>
                    <xsd:enumeration value="Swedish"/>
                    <xsd:enumeration value="Turkish"/>
                    <xsd:enumeration value="Ukrainian"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="scriptType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Normal"/>
                    <xsd:enumeration value="Gothic"/>
                    <xsd:enumeration value="Typewriter"/>
                    <xsd:enumeration value="ToBeDetected"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="formatType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="XML"/>
                    <xsd:enumeration value="RTF"/>
                    <xsd:enumeration value="Text"/>
                    <xsd:enumeration value="HTML"/>
                    <xsd:enumeration value="PAGEXML"/>
                    <xsd:enumeration value="ALTO"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ocrByUrlRequestType">
                <xsd:sequence>
                    <xsd:element default="german.dat" maxOccurs="1" minOccurs="1" name="dat" type="tns:datType">
                        <xsd:annotation>
                            <xsd:documentation>.dat file for external dictionary</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="language" type="tns:languageList">
                        <xsd:annotation>
                            <xsd:documentation>Internal FineReader language model used for recognition</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="Gothic" maxOccurs="1" minOccurs="1" name="script" type="tns:scriptType">
                        <xsd:annotation>
                            <xsd:documentation>Script of the document</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="PAGEXML" maxOccurs="1" minOccurs="1" name="format" type="tns:formatType">
                        <xsd:annotation>
                            <xsd:documentation>Output format</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="http://kbdemo.dnsalias.org/testfiles/00046135.bw.tif" maxOccurs="1" minOccurs="1" name="input" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to input image file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ocrByUrlRequest" type="tns:ocrByUrlRequestType"/>
            <xsd:complexType name="ocrByUrlResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="return" type="tns:ocrByUrlReturnType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ocrByUrlReturnType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="result" type="tns:ocrByUrlResultType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ocrByUrlResultType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="output" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Success/failure of process execution</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="returncode" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Returncode of the underlying command line application</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="time" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Execution time in milliseconds</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="log" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution log</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution message</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ocrByUrlResponse" type="tns:ocrByUrlResponseType"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="ocrByUrlRequest">
        <wsdl:part element="tns:ocrByUrlRequest" name="ocrByUrlRequest"/>
    </wsdl:message>
    <wsdl:message name="ocrByUrlResponse">
        <wsdl:part element="tns:ocrByUrlResponse" name="ocrByUrlResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicePortType">
    <wsdl:operation name="ocrByUrl">
            <wsdl:documentation>Apply OCR to input image file</wsdl:documentation>
            <wsdl:input message="tns:ocrByUrlRequest" wsaw:Action="ocrByUrl">
                <wsdl:documentation/>
            </wsdl:input>
            <wsdl:output message="tns:ocrByUrlResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/IMPACTIMPACTFineReaderServicePortType/ocrByUrlResponse">
                <wsdl:documentation/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="ServiceSoap11Binding" type="tns:ServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ocrByUrl">
            <soap:operation soapAction="urn:ocrByUrl" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12Binding" type="tns:ServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ocrByUrl">
            <soap12:operation soapAction="urn:ocrByUrl" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpBinding" type="tns:ServicePortType">
        <http:binding verb="POST"/>

    <wsdl:operation name="ocrByUrl">
            <http:operation location="IMPACTFineReader/ocrByUrl"/>
            <wsdl:input>
                <mime:content part="ocrByUrl" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="ocrByUrl" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="IMPACTFineReader">
        <wsdl:port binding="tns:ServiceSoap11Binding" name="ServiceHttpSoap11Endpoint">
            <soap:address location="http://kbdemo.dnsalias.org:80/impactservices-w/impact-impactfinereader-service/services/IMPACTFineReader"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSoap12Binding" name="ServiceHttpSoap12Endpoint">
            <soap12:address location="http://kbdemo.dnsalias.org:80/impactservices-w/impact-impactfinereader-service/services/IMPACTFineReader"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceHttpBinding" name="ServiceHttpEndpoint">
            <http:address location="http://kbdemo.dnsalias.org:80/impactservices-w/impact-impactfinereader-service/services/IMPACTFineReader"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
