interfaces/web/generic-soap-client/src/test/resources/IMPACTImageMagickProxy.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://iif.impact-project.eu/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://iif.impact-project.eu/">
    <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="UTOverTransport">
        <wsp:ExactlyOne>
            <wsp:All>
                <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:TransportToken>
                            <wsp:Policy>
                                <sp:HttpsToken RequireClientCertificate="false" />
                            </wsp:Policy>
                        </sp:TransportToken>
                        <sp:AlgorithmSuite>
                            <wsp:Policy>
                                <sp:Basic256 />
                            </wsp:Policy>
                        </sp:AlgorithmSuite>
                        <sp:Layout>
                            <wsp:Policy>
                                <sp:Lax />
                            </wsp:Policy>
                        </sp:Layout>
                        <sp:IncludeTimestamp />
                    </wsp:Policy>
                </sp:TransportBinding>
                <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
                    <wsp:Policy>
                        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient" />
                    </wsp:Policy>
                </sp:SignedSupportingTokens>
            </wsp:All>
        </wsp:ExactlyOne>
    </wsp:Policy>
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iif.impact-project.eu/">
            <xsd:simpleType name="fileFormatType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="tiff" />
                    <xsd:enumeration value="jpeg" />
                    <xsd:enumeration value="png" />
                    <xsd:enumeration value="gif" />
                    <xsd:enumeration value="ps" />
                    <xsd:enumeration value="eps" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="compressionType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="None" />
                    <xsd:enumeration value="Fax" />
                    <xsd:enumeration value="Group4" />
                    <xsd:enumeration value="JPEG" />
                    <xsd:enumeration value="LZW" />
                    <xsd:enumeration value="RLE" />
                    <xsd:enumeration value="Zip" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="colorspaceType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="CMY" />
                    <xsd:enumeration value="CMYK" />
                    <xsd:enumeration value="Gray" />
                    <xsd:enumeration value="HSB" />
                    <xsd:enumeration value="HSL" />
                    <xsd:enumeration value="HWB" />
                    <xsd:enumeration value="Lab" />
                    <xsd:enumeration value="Log" />
                    <xsd:enumeration value="OHTA" />
                    <xsd:enumeration value="Rec601Luma" />
                    <xsd:enumeration value="Rec601YCbCr" />
                    <xsd:enumeration value="Rec709Luma" />
                    <xsd:enumeration value="Rec709YCbCr" />
                    <xsd:enumeration value="RGB" />
                    <xsd:enumeration value="sRGB" />
                    <xsd:enumeration value="Transparent" />
                    <xsd:enumeration value="XYZ" />
                    <xsd:enumeration value="YCbCr" />
                    <xsd:enumeration value="YCC" />
                    <xsd:enumeration value="YIQ" />
                    <xsd:enumeration value="YPbPr" />
                    <xsd:enumeration value="YUV" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="depthType">
                <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="16" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="qualityType">
                <xsd:restriction base="xsd:int">
                    <xsd:minInclusive value="1" />
                    <xsd:maxInclusive value="100" />
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ByUrlRequestType">
                <xsd:sequence>
                    <xsd:element default="http://fue.onb.ac.at/impact/testdata/19080603_0020.png" name="inputUrl" type="xsd:anyURI" />
                    <xsd:element default="tiff" minOccurs="0" name="targetFormat" type="tns:fileFormatType" />
                    <xsd:element default="None" minOccurs="0" name="compression" type="tns:compressionType" />
                    <xsd:element default="Gray" minOccurs="0" name="colorspace" type="tns:colorspaceType" />
                    <xsd:element default="256" minOccurs="0" name="numcolors" type="xsd:int" />
                    <xsd:element default="8" minOccurs="0" name="depth" type="tns:depthType" />
                    <xsd:element default="100" minOccurs="0" name="quality" type="tns:qualityType" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlRequest" type="tns:ByUrlRequestType" />
            <xsd:complexType name="SimpleByUrlRequestType">
                <xsd:sequence>
                    <xsd:element name="inputUrl" type="xsd:anyURI" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="SimpleByUrlRequest" type="tns:SimpleByUrlRequestType" />
            <xsd:complexType name="ByUrlResponseType">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean" />
                    <xsd:element name="returncode" type="xsd:int" />
                    <xsd:element name="message" type="xsd:string" />
                    <xsd:element name="toolProcessingTime" type="xsd:int" />
                    <xsd:element name="processingUnit" type="xsd:string" />
                    <xsd:element name="processingLog" type="xsd:string" />
                    <xsd:element minOccurs="0" name="outputUrl" type="xsd:anyURI" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlResponse" type="tns:ByUrlResponseType" />
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SimpleByUrlRequest">
        <wsdl:part name="part1" element="tns:SimpleByUrlRequest" />
    </wsdl:message>
    <wsdl:message name="ByUrlResponse">
        <wsdl:part name="part1" element="tns:ByUrlResponse" />
    </wsdl:message>
    <wsdl:message name="ByUrlRequest">
        <wsdl:part name="part1" element="tns:ByUrlRequest" />
    </wsdl:message>
    <wsdl:portType name="secureIMPACTImageMagickPortType">
        <wsdl:operation name="convertTiffToBitonalByUrl">
            <wsdl:documentation>Convert TIFF image to bitonal TIFF image (sending/receiving data by URL)</wsdl:documentation>
            <wsdl:input message="tns:SimpleByUrlRequest" wsaw:Action="convertTiffToBitonalByUrl">
                <wsdl:documentation>inputUrl: URL reference to input image</wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="tns:ByUrlResponse" wsaw:Action="//schemas.xmlsoap.org/wsdl/IMPACTImageMagickServicePortType/ByUrlResponse">
                <wsdl:documentation>success: Success/failure of service execution; returncode: 0 in case of success, greater 0 indicates an error; message: Process result message; toolProcessingTime: Tool processing time in milliseconds; processingUnit: URI of the processing unit (identifier of machine and environment); processingLog: Complete processing log; outputUrl: URL reference to OCR result plain text file</wsdl:documentation>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertByUrl">
            <wsdl:documentation>Convert image (sending/receiving data by URL)</wsdl:documentation>
            <wsdl:input message="tns:ByUrlRequest" wsaw:Action="convertByUrl">
                <wsdl:documentation>inputUrl: URL reference to input image; compression: One of None, Fax, Group4, JPEG, LZW, RLE, Zip; colorspace: One of CMY, CMYK, Gray, HSB, HSL, HWB, Lab, Log, OHTA, Rec601Luma, Rec601YCbCr, Rec709Luma, Rec709YCbCr, RGB, sRGB, Transparent, XYZ, YCbCr, YCC, YIQ, YPbPr, YUV; numcolors: Number of colors; depth: Bit depth from 1 to 16; quality: Compression quality (only JPEG, LZW) from 1 to 100</wsdl:documentation>
            </wsdl:input>
            <wsdl:output message="tns:ByUrlResponse" wsaw:Action="//schemas.xmlsoap.org/wsdl/IMPACTImageMagickServicePortType/ByUrlResponse">
                <wsdl:documentation>success: Success/failure of service execution; returncode: 0 in case of success, greater 0 indicates an error; message: Process result message; toolProcessingTime: Tool processing time in milliseconds; processingUnit: URI of the processing unit (identifier of machine and environment); processingLog: Complete processing log; outputUrl: URL reference to OCR result plain text file</wsdl:documentation>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="secureIMPACTImageMagickSoap11Binding" type="tns:secureIMPACTImageMagickPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UTOverTransport" />
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="convertTiffToBitonalByUrl">
            <soap:operation soapAction="convertTiffToBitonalByUrl" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertByUrl">
            <soap:operation soapAction="convertByUrl" style="document" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="secureIMPACTImageMagickSoap12Binding" type="tns:secureIMPACTImageMagickPortType">
        <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UTOverTransport" />
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
        <wsdl:operation name="convertTiffToBitonalByUrl">
            <soap12:operation soapAction="convertTiffToBitonalByUrl" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertByUrl">
            <soap12:operation soapAction="convertByUrl" style="document" />
            <wsdl:input>
                <soap12:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="secureIMPACTImageMagickHttpBinding" type="tns:secureIMPACTImageMagickPortType">
        <http:binding verb="POST" />
        <wsdl:operation name="convertTiffToBitonalByUrl">
            <http:operation location="convertTiffToBitonalByUrl" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="convertByUrl">
            <http:operation location="convertByUrl" />
            <wsdl:input>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="parameters" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="secureIMPACTImageMagick">
        <wsdl:port name="secureIMPACTImageMagickHttpsSoap11Endpoint" binding="tns:secureIMPACTImageMagickSoap11Binding">
            <soap:address location="https://impact.dlsi.ua.es/services/secureIMPACTImageMagick.secureIMPACTImageMagickHttpsSoap11Endpoint" />
        </wsdl:port>
        <wsdl:port name="secureIMPACTImageMagickHttpsSoap12Endpoint" binding="tns:secureIMPACTImageMagickSoap12Binding">
            <soap12:address location="https://impact.dlsi.ua.es/services/secureIMPACTImageMagick.secureIMPACTImageMagickHttpsSoap12Endpoint" />
        </wsdl:port>
        <wsdl:port name="secureIMPACTImageMagickHttpsEndpoint" binding="tns:secureIMPACTImageMagickHttpBinding">
            <http:address location="https://impact.dlsi.ua.es/services/secureIMPACTImageMagick.secureIMPACTImageMagickHttpsEndpoint" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>