interfaces/web/generic-soap-client/src/test/resources/IMPACTAbbyyFre10OcrProxy.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://iif.impact-project.eu/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://iif.impact-project.eu/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
<wsdl:documentation>
        IMPACT Abbyy Fine Reader 10 Service. This service provides the basic
        functionality of the Abbyy Fine Reader 10 text recogntion engine for
        applying OCR to an image file.
    </wsdl:documentation>
  <types>
    <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://iif.impact-project.eu/">

            <!--  http://www.w3.org/2005/05/xmlmime -->
            <!--<xsd:import namespace="http://www.w3.org/2005/05/xmlmime"
				schemaLocation="xmime.xsd" />-->
            <xsd:simpleType name="recognitionLanguage">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian"/>
                    <xsd:enumeration value="Catalan"/>
                    <xsd:enumeration value="Czech"/>
                    <xsd:enumeration value="Danish"/>
                    <xsd:enumeration value="Dutch"/>
                    <xsd:enumeration value="English"/>
                    <xsd:enumeration value="Finnish"/>
                    <xsd:enumeration value="French"/>
                    <xsd:enumeration value="German"/>
                    <xsd:enumeration value="Greek"/>
                    <xsd:enumeration value="Hungarian"/>
                    <xsd:enumeration value="Irish"/>
                    <xsd:enumeration value="Italian"/>
                    <xsd:enumeration value="Macedonian"/>
                    <xsd:enumeration value="OldEnglish"/>
                    <xsd:enumeration value="OldFrench"/>
                    <xsd:enumeration value="OldGerman"/>
                    <xsd:enumeration value="OldItalian"/>
                    <xsd:enumeration value="OldSpanish"/>
                    <xsd:enumeration value="Polish"/>
                    <xsd:enumeration value="PortugueseStandard"/>
                    <xsd:enumeration value="Romanian"/>
                    <xsd:enumeration value="Russian"/>
                    <xsd:enumeration value="SerbianCyrillic"/>
                    <xsd:enumeration value="SerbianLatin"/>
                    <xsd:enumeration value="Slovenian"/>
                    <xsd:enumeration value="Slovak"/>
                    <xsd:enumeration value="Spanish"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="RecognitionLanguages">
                <xsd:sequence>
                    <xsd:element default="German" maxOccurs="unbounded" minOccurs="0" name="recognitionLanguage" type="tns:recognitionLanguage"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="outputFormatType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Text"/>
                    <xsd:enumeration value="XML"/>
                    <xsd:enumeration value="ALTO"/>
                    <xsd:enumeration value="HTML"/>
                    <xsd:enumeration value="RTF"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="inputTextType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Normal"/>
                    <xsd:enumeration value="Typewriter"/>
                    <xsd:enumeration value="Gothic"/>
                    <xsd:enumeration value="ToBeDetected"/>
                </xsd:restriction>
            </xsd:simpleType>
            <!--<xsd:complexType name="RequestType">
                <xsd:sequence>
                    <xsd:element minOccurs="0" maxOccurs="1" name="inputTextType"
						type="tns:inputTextType" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="outputFormat"
						type="tns:outputFormatType" />
                    <xsd:element  minOccurs="0" maxOccurs="1" name="languages"
						type="tns:RecognitionLanguages" />
                    <xsd:element use="required" minOccurs="1" maxOccurs="1" name="base64Binary"
						type="xmime:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Base64BinaryRequest" type="tns:RequestType" />
            <xsd:complexType name="ResponseType">
                <xsd:sequence>
                    <xsd:element use="required" minOccurs="1" maxOccurs="1" name="success" type="xsd:boolean" />
                    <xsd:element use="required" minOccurs="1" maxOccurs="1" name="returncode" type="xsd:int" />
                    <xsd:element use="required" minOccurs="1" maxOccurs="1" name="message" type="xsd:string" />
                    <xsd:element use="required" minOccurs="1" maxOccurs="1" name="toolProcessingTime" type="xsd:int" />
                    <xsd:element minOccurs="0" maxOccurs="1" name="base64Binary" type="xmime:base64Binary" />
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="Base64BinaryResponse" type="tns:ResponseType" />-->

            <xsd:complexType name="ByUrlRequestType">
                <xsd:sequence>
                    <xsd:element default="Gothic" maxOccurs="1" minOccurs="0" name="inputTextType" type="tns:inputTextType"/>
                    <xsd:element default="Text" maxOccurs="1" minOccurs="0" name="outputFormat" type="tns:outputFormatType"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="languages" type="tns:RecognitionLanguages"/>
                    <xsd:element default="http://fue.onb.ac.at/impact/testdata/00000868_p.tif" maxOccurs="1" minOccurs="1" name="inputUrl" type="xsd:anyURI" use="required"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlRequest" type="tns:ByUrlRequestType"/>

            <xsd:complexType name="ByUrlResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="success" type="xsd:boolean" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="returncode" type="xsd:int" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="message" type="xsd:string" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="toolProcessingTime" type="xsd:int" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="processingLog" type="xsd:string" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="1" name="processingUnit" type="xsd:string" use="required"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="outputUrl" type="xsd:anyURI"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ByUrlResponse" type="tns:ByUrlResponseType"/>

            <xsd:complexType name="WrongArgumentFaultType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="argument" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="WrongArgumentFault" type="tns:WrongArgumentFaultType"/>

        </xsd:schema>
  </types>
  <message name="ByUrlRequest">
    <part name="part1" element="tns:ByUrlRequest">
    </part>
  </message>
  <message name="ByUrlResponse">
    <part name="part1" element="tns:ByUrlResponse">
    </part>
  </message>
  <message name="WrongArgumentFaultMessage">
    <part name="fault" element="tns:WrongArgumentFault">
    </part>
  </message>
  <portType name="IMPACTServicePortType">
    <operation name="ocrImageFileByUrl">
<wsdl:documentation>Apply text recognition to image file (sending/receiving data by URL)</wsdl:documentation>
      <input message="tns:ByUrlRequest" wsaw:Action="ocrImageFileByUrl">
<wsdl:documentation>inputTextType: Normal/Typewriter/Gothic/ToBeDetected; outputFormatType: Text/XML/HTML/RTF; inputUrl: URL reference to image file</wsdl:documentation>
    </input>
      <output message="tns:ByUrlResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/IMPACTAbbyyOcrServicePortType/ByUrlResponse">
<wsdl:documentation>success: Success/failure of service execution; returncode: 0 in case of success, greater 0 indicates an error; message: Process result message; toolProcessingTime: Tool processing time in milliseconds; processingUnit: URI of the processing unit (identifier of machine and environment); processingLog: Complete processing log; outputUrl: URL reference to the result file (TXT, XML, or RTF depending on input parameter outputFormat)</wsdl:documentation>
    </output>
      <fault name="WrongArgumentException" message="tns:WrongArgumentFaultMessage">
    </fault>
    </operation>
  </portType>
  <binding name="IMPACTServiceSOAP11Binding" type="tns:IMPACTServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ocrImageFileByUrl">
      <soap:operation soapAction="ocrImageFileByUrl" style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="WrongArgumentException">
        <soap:fault name="WrongArgumentException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <binding name="IMPACTServiceSOAP12Binding" type="tns:IMPACTServicePortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ocrImageFileByUrl">
      <soap12:operation soapAction="ocrImageFileByUrl" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
      <fault name="WrongArgumentException">
        <soap:fault name="WrongArgumentException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="IMPACTAbbyyFre10OcrService">
    <port name="IMPACTServiceSOAP11port_http" binding="tns:IMPACTServiceSOAP11Binding">
      <soap:address location="https://localhost/synapse/IMPACTAbbyyFre10OcrProxy"/>
    </port>
    <port name="IMPACTServiceSOAP12port_http" binding="tns:IMPACTServiceSOAP12Binding">
      <soap12:address location="https://loclhost/IMPACTAbbyyFre10OcrProxy"/>
    </port>
  </service>
</definitions>
