toolwrapper/generated/layoutevaluation1233/src/main/webapp/LayoutEvaluation1233.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:axd="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://impact-project.eu/iif/service" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impact-project.eu/iif/service">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impact-project.eu/iif/service">
            <xsd:simpleType name="depthType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="1"/>
                    <xsd:enumeration value="8"/>
                    <xsd:enumeration value="16"/>
                    <xsd:enumeration value="24"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="pagesplitType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="true"/>
                    <xsd:enumeration value="false"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="languageType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian"/>
                    <xsd:enumeration value="Catalan"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="language2List">
                <xsd:sequence>
                    <xsd:element default="Bulgarian" maxOccurs="unbounded" minOccurs="0" name="language2Item" type="tns:language2Type"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="language2Type">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian"/>
                    <xsd:enumeration value="Catalan"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="evalLayoutRequestType">
                <xsd:sequence>
                    <xsd:element default="8" maxOccurs="1" minOccurs="1" name="depth" type="tns:depthType">
                        <xsd:annotation>
                            <xsd:documentation>Color depth of output image</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="true" maxOccurs="1" minOccurs="1" name="pagesplit" type="tns:pagesplitType">
                        <xsd:annotation>
                            <xsd:documentation>Indicates if a page should be split or not (if an image represents two book pages)</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="Bulgarian" maxOccurs="1" minOccurs="1" name="language" type="tns:languageType">
                        <xsd:annotation>
                            <xsd:documentation>Language used in recognition process</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="language2" type="tns:language2List">
                        <xsd:annotation>
                            <xsd:documentation>Language used in recognition process</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="Default_Evaluation_ID" maxOccurs="1" minOccurs="0" name="evaluationId" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Evaluation ID</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="http://github.com/impactcentre/iif-testfiles/raw/master/testfiles/image.png" maxOccurs="1" minOccurs="1" name="inputdir" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to input directory</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="http://null" maxOccurs="1" minOccurs="0" name="grayimage" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to grayscale image file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="evalLayoutRequest" type="tns:evalLayoutRequestType"/>
            <xsd:complexType name="evalLayoutResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="return" type="tns:evalLayoutReturnType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="evalLayoutReturnType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="result" type="tns:evalLayoutResultType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="evalLayoutResultType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="outfile" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="outputdir" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output directory</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="outputstream" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output text file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="output" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to statistics output file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="output" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to statistics output file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="success" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Success/failure of process execution</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="returncode" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Returncode of the underlying command line application</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="time" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Execution time in milliseconds</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="log" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution log</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution message</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="evalLayoutResponse" type="tns:evalLayoutResponseType"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="evalLayoutRequest">
        <wsdl:part element="tns:evalLayoutRequest" name="evalLayoutRequest"/>
    </wsdl:message>
    <wsdl:message name="evalLayoutResponse">
        <wsdl:part element="tns:evalLayoutResponse" name="evalLayoutResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicePortType">
    <wsdl:operation name="evalLayout">
            <wsdl:documentation>Evaluation of layout detection using profiles</wsdl:documentation>
            <wsdl:input message="tns:evalLayoutRequest" wsaw:Action="evalLayout">
                <wsdl:documentation/>
            </wsdl:input>
            <wsdl:output message="tns:evalLayoutResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/IMPACTLayoutEvaluation1233ServicePortType/evalLayoutResponse">
                <wsdl:documentation/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServiceSoap11Binding" type="tns:ServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="evalLayout">
            <soap:operation soapAction="urn:evalLayout" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12Binding" type="tns:ServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="evalLayout">
            <soap12:operation soapAction="urn:evalLayout" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpBinding" type="tns:ServicePortType">
        <http:binding verb="POST"/>

    <wsdl:operation name="evalLayout">
            <http:operation location="LayoutEvaluation1233/evalLayout"/>
            <wsdl:input>
                <mime:content part="evalLayout" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="evalLayout" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LayoutEvaluation1233">
        <wsdl:port binding="tns:ServiceSoap11Binding" name="ServiceHttpSoap11Endpoint">
            <soap:address location="http://${tomcat_public_host}:${tomcat_public_http_port}/impactservices/impact-layoutevaluation1233-service/services/LayoutEvaluation1233"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSoap12Binding" name="ServiceHttpSoap12Endpoint">
            <soap12:address location="http://${tomcat_public_host}:${tomcat_public_http_port}/impactservices/impact-layoutevaluation1233-service/services/LayoutEvaluation1233"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceHttpBinding" name="ServiceHttpEndpoint">
            <http:address location="http://${tomcat_public_host}:${tomcat_public_http_port}/impactservices/impact-layoutevaluation1233-service/services/LayoutEvaluation1233"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
