toolwrapper/generated/simplecopy10/src/env/local/SimpleCopy10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:axd="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://impact-project.eu/iif/services" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://impact-project.eu/iif/services">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://impact-project.eu/iif/services">
            <xsd:complexType name="simpleCopyRequestType">
                <xsd:sequence>
                    <xsd:element default="http://localhost:8080/test.txt" maxOccurs="1" minOccurs="1" name="inputUrl" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to input file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="simpleCopyRequest" type="tns:simpleCopyRequestType"/>
            <xsd:complexType name="simpleCopyResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="return" type="tns:simpleCopyReturnType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="simpleCopyReturnType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="result" type="tns:simpleCopyResultType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="simpleCopyResultType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="output" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to output file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="success" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Success/failure of process execution</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="returncode" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Returncode of the underlying command line application</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="time" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Execution time in milliseconds</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="log" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution log</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution message</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="simpleCopyResponse" type="tns:simpleCopyResponseType"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="simpleCopyRequest">
        <wsdl:part element="tns:simpleCopyRequest" name="simpleCopyRequest"/>
    </wsdl:message>
    <wsdl:message name="simpleCopyResponse">
        <wsdl:part element="tns:simpleCopyResponse" name="simpleCopyResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicePortType">
    <wsdl:operation name="simpleCopy">
            <wsdl:documentation>Copies a file</wsdl:documentation>
            <wsdl:input message="tns:simpleCopyRequest" wsaw:Action="simpleCopy">
                <wsdl:documentation/>
            </wsdl:input>
            <wsdl:output message="tns:simpleCopyResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/IMPACTSimpleCopy10ServicePortType/simpleCopyResponse">
                <wsdl:documentation/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServiceSoap11Binding" type="tns:ServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="simpleCopy">
            <soap:operation soapAction="urn:simpleCopy" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12Binding" type="tns:ServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="simpleCopy">
            <soap12:operation soapAction="urn:simpleCopy" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpBinding" type="tns:ServicePortType">
        <http:binding verb="POST"/>

    <wsdl:operation name="simpleCopy">
            <http:operation location="SimpleCopy10/simpleCopy"/>
            <wsdl:input>
                <mime:content part="simpleCopy" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="simpleCopy" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="SimpleCopy10">
        <wsdl:port binding="tns:ServiceSoap11Binding" name="ServiceHttpSoap11Endpoint">
            <soap:address location="http://localhost:8080/impactservices/impact-simplecopy10-service/services/SimpleCopy10"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSoap12Binding" name="ServiceHttpSoap12Endpoint">
            <soap12:address location="http://localhost:8080/impactservices/impact-simplecopy10-service/services/SimpleCopy10"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceHttpBinding" name="ServiceHttpEndpoint">
            <http:address location="http://localhost:8080/impactservices/impact-simplecopy10-service/services/SimpleCopy10"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
