toolwrapper/generated/finereader10/src/main/webapp/FineReader10.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:axd="http://org.apache.axis2/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="${project_namespace}" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="${project_namespace}">
    <wsdl:types>
        <xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="${project_namespace}">
            <xsd:complexType name="langcsList">
                <xsd:sequence>
                    <xsd:element default="English,OldEnglish" maxOccurs="unbounded" minOccurs="0" name="langcsItem" type="tns:langcsType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:simpleType name="langcsType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Bulgarian"/>
                    <xsd:enumeration value="Catalan"/>
                    <xsd:enumeration value="Croatian"/>
                    <xsd:enumeration value="Czech"/>
                    <xsd:enumeration value="Danish"/>
                    <xsd:enumeration value="Dutch"/>
                    <xsd:enumeration value="English"/>
                    <xsd:enumeration value="Estonian"/>
                    <xsd:enumeration value="Finnish"/>
                    <xsd:enumeration value="French"/>
                    <xsd:enumeration value="German"/>
                    <xsd:enumeration value="Greek"/>
                    <xsd:enumeration value="Hungarian"/>
                    <xsd:enumeration value="Italian"/>
                    <xsd:enumeration value="Latin"/>
                    <xsd:enumeration value="Latvian"/>
                    <xsd:enumeration value="Lithuanian"/>
                    <xsd:enumeration value="Norwegian"/>
                    <xsd:enumeration value="OldEnglish"/>
                    <xsd:enumeration value="OldFrench"/>
                    <xsd:enumeration value="OldGerman"/>
                    <xsd:enumeration value="OldItalian"/>
                    <xsd:enumeration value="OldSpanish"/>
                    <xsd:enumeration value="Polish"/>
                    <xsd:enumeration value="PortugueseStandard"/>
                    <xsd:enumeration value="Romanian"/>
                    <xsd:enumeration value="Russian"/>
                    <xsd:enumeration value="SerbianCyrillic"/>
                    <xsd:enumeration value="SerbianLatin"/>
                    <xsd:enumeration value="Slovak"/>
                    <xsd:enumeration value="Slovenian"/>
                    <xsd:enumeration value="Spanish"/>
                    <xsd:enumeration value="Swedish"/>
                    <xsd:enumeration value="Turkish"/>
                    <xsd:enumeration value="Ukrainian"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="texttypeType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="Normal"/>
                    <xsd:enumeration value="Gothic"/>
                    <xsd:enumeration value="Typewriter"/>
                    <xsd:enumeration value="ToBeDetected"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:simpleType name="exportType">
                <xsd:restriction base="xsd:string">
                    <xsd:enumeration value="XML"/>
                    <xsd:enumeration value="RTF"/>
                    <xsd:enumeration value="Text"/>
                    <xsd:enumeration value="HTML"/>
                    <xsd:enumeration value="ALTO"/>
                </xsd:restriction>
            </xsd:simpleType>
            <xsd:complexType name="ocrRequestType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="1" name="langcs" type="tns:langcsList">
                        <xsd:annotation>
                            <xsd:documentation>Comma separated list of internal dictionaries to be used during recognition</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="Normal" maxOccurs="1" minOccurs="1" name="texttype" type="tns:texttypeType">
                        <xsd:annotation>
                            <xsd:documentation>Font type of the document</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="http://github.com/impactcentre/iif-testfiles/raw/master/testfiles/image.tif" maxOccurs="1" minOccurs="1" name="input" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to image file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element default="XML" maxOccurs="1" minOccurs="1" name="export" type="tns:exportType">
                        <xsd:annotation>
                            <xsd:documentation>Export format</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ocrRequest" type="tns:ocrRequestType"/>
            <xsd:complexType name="ocrResponseType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="return" type="tns:ocrReturnType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ocrReturnType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="result" type="tns:ocrResultType"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ocrResultType">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="output" type="xsd:anyURI">
                        <xsd:annotation>
                            <xsd:documentation>URL reference to OCR result file</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="success" type="xsd:boolean">
                        <xsd:annotation>
                            <xsd:documentation>Success/failure of process execution</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="1" name="returncode" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Returncode of the underlying command line application</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="time" type="xsd:int">
                        <xsd:annotation>
                            <xsd:documentation>Execution time in milliseconds</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="log" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution log</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                    <xsd:element maxOccurs="1" minOccurs="0" name="message" type="xsd:string">
                        <xsd:annotation>
                            <xsd:documentation>Process execution message</xsd:documentation>
                        </xsd:annotation>
                    </xsd:element>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="ocrResponse" type="tns:ocrResponseType"/>
        </xsd:schema>
    </wsdl:types>

    <wsdl:message name="ocrRequest">
        <wsdl:part element="tns:ocrRequest" name="ocrRequest"/>
    </wsdl:message>
    <wsdl:message name="ocrResponse">
        <wsdl:part element="tns:ocrResponse" name="ocrResponse"/>
    </wsdl:message>
    <wsdl:portType name="ServicePortType">
    <wsdl:operation name="ocr">
            <wsdl:documentation>Run OCR using ABBYY FineReader Engine</wsdl:documentation>
            <wsdl:input message="tns:ocrRequest" wsaw:Action="ocr">
                <wsdl:documentation/>
            </wsdl:input>
            <wsdl:output message="tns:ocrResponse" wsaw:Action="http://schemas.xmlsoap.org/wsdl/IMPACTFineReader10ServicePortType/ocrResponse">
                <wsdl:documentation/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="ServiceSoap11Binding" type="tns:ServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ocr">
            <soap:operation soapAction="urn:ocr" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceSoap12Binding" type="tns:ServicePortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

    <wsdl:operation name="ocr">
            <soap12:operation soapAction="urn:ocr" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ServiceHttpBinding" type="tns:ServicePortType">
        <http:binding verb="POST"/>

    <wsdl:operation name="ocr">
            <http:operation location="FineReader10/ocr"/>
            <wsdl:input>
                <mime:content part="ocr" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="ocr" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="${project_midfix}">
        <wsdl:port binding="tns:ServiceSoap11Binding" name="ServiceHttpSoap11Endpoint">
            <soap:address location="http://${tomcat_public_host}:${tomcat_public_http_port}${contextpath_prefix}/${global_project_prefix_lc}-${project_midfix_lc}-service/services/${project_midfix}"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceSoap12Binding" name="ServiceHttpSoap12Endpoint">
            <soap12:address location="http://${tomcat_public_host}:${tomcat_public_http_port}${contextpath_prefix}/${global_project_prefix_lc}-${project_midfix_lc}-service/services/${project_midfix}"/>
        </wsdl:port>
        <wsdl:port binding="tns:ServiceHttpBinding" name="ServiceHttpEndpoint">
            <http:address location="http://${tomcat_public_host}:${tomcat_public_http_port}${contextpath_prefix}/${global_project_prefix_lc}-${project_midfix_lc}-service/services/${project_midfix}"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
